# Shop directory
Shop/src
Shop/database
Shop/db_dump
Shop/ssl/prestashop.crt
Shop/ssl/prestashop.key

# Python specific
__pycache__
.venv
venv

# Results and backups
results/images
backup_*
data_*

# Miscellaneous
DS*